.profile__features {
  display: flex;
  row-gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  width: 100%;
}
.profile__features a {
  word-wrap: break-all;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 17.5px;
  padding: 18.5px 0;
  border-radius: 5px;
  width: 100%;
}
.profile__features .photoshop {
  color: black;
  background: white;
}
.profile__features .youtube {
  background: #fe0000;
}
.profile__features .support {
  background: #0c0d0d;
}
.profile__features .telegram {
  background: #0094fe;
}
.profile__features .growinsta {
  background: #003537;
}
.profile__features .recommended {
  color: black;
  background: #d8fe37;
}
.profile__features .hire {
  background: #00fe00;
}
.profile__features .whatsapp {
  background: #00c242;
}
