/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: url("https://linkrr.in/uploads/backgrounds/c13281a9780789bfa70dfe6cf48ad867.png")
    center no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
}
.App {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
}
